* {
    margin: 0;
    padding: 0;  
}
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: left;
    background-image: url(IMG_7081.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    color: rgb(92, 19, 175);
    padding-left: 25px;
    padding-top: 8px;
}
header h1 {
    opacity: .85;
    text-align: center;
    background-color: greenyellow;
    border-radius: 25px;
    font-weight: 800;
}

.food-gallery {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    background-color: white;
    margin: 5px; 
}
.food-promo {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-start;
    width: 100%;
    height: auto;
    font-size: .80em;
    font-family: 'Kalam', cursive;
    border-radius: 15px;
    background-color: white;
    margin: 3px; 
    padding: 5px;
}
.food-promo div {
    margin: 10px;
}
.promo-teaser {
    background-color: rgb(231, 231, 128);
    border-radius: 15px;
    border: solid .5px rgb(36, 33, 32);
}
.food-promo .promo-items {
    background-color: white;
    border-radius: 15px;
    border: solid .5px rgb(148, 42, 6);
    box-sizing: border-box;
    padding: 10px;
}

.food-promo div img {
    width: 100%;
    height: auto;
    border-radius: 7px;  
}
.basic-food {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    background-color: rgb(247, 180, 173);
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
} 
.basic-food .basic-food-item {
    box-sizing: border-box;
    border: solid 1px black;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    background-color: transparent;
    border-radius: 15px;
    font-size: .8em;
    font-family: Helvetica, sans-serif;  
    box-shadow: 10px 10px 10px khaki; 
}
.basic-food div img {
    width: 100%;
    height: auto;
}
.basic-food div p {
    line-height: 25px;
    background-color: transparent;
}
h3 {
    line-height: 1.8em;
    background-color: transparent;
}
img {
    border-radius: 5px;
    align-items: center;
}
.S-Item1 {
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #f3f0ea;
}
.price {
    font-weight: 400;
    color: rgb(202, 64, 168);
    padding-top: 6px;
    padding-bottom: 4px;
    background-color: #f1f1fa;
}
.about {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    border-radius: 7px;
    border: solid 1px turquoise;
    width: 100%;
    height: auto;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    padding-left: 20px;
    padding: 20px;
}
.about p {
    padding: 0 0 15px 0;
    font-weight: 600;
}
.about input {
    width: 400px;
    height: 25px;
    border-radius: 10px;
    border: solid .5px turquoise;
}
#submit {
    color: teal;
    text-transform: capitalize;
}
#feedback {
    height: 120px;
}

footer {
    height: 45px;
    display: flex;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    line-height: 3rem;
    flex-wrap: 
    justify-self: center;
}

@media only screen and (max-width: 640px) {
    .food-promo {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        align-content: flex-start;
        width: 100%;
        height: auto;
        font-size: .80em;
        font-family: 'Kalam', cursive;
        border-radius: 15px;
        background-color: white;
        margin: 3px; 
        padding: 5px;
    }

    .basic-food {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: auto;
        background-color: rgb(247, 148, 137);
        border-radius: 15px;
        padding: 5px;
    } 
    .basic-food .basic-food-item {
        box-sizing: border-box;
        border: solid 2px tomato;
        padding-top: 5px;
        padding-bottom: 12px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 8px;
        background-color: white;
        border-radius: 15px;
        font-size: .8em;
        font-family: Helvetica, sans-serif;  
        box-shadow: 10px 10px 10px khaki; 
    }
    .about {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        background-color: transparent;
        border-radius: 7px;
        border-style: solid;
        border-color: turquoise;
        border-width: 1px;
        width: 100%;
        height: auto;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        margin: 15px;
        padding-left: 20px;
    }
    .about p {
        font-weight: 700;
        padding: 10px 0;
    }
    
}

@media only screen and (max-width: 1240px) {
    .basic-food {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: auto;
        background-color: rgb(247, 148, 137);
        border-radius: 15px;
        padding: 5px;
    } 
    .basic-food .basic-food-item {
        box-sizing: border-box;
        border: solid 1px black;
        padding-top: 5px;
        padding-bottom: 12px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px;
        background-color: transparent;
        border-radius: 15px;
        font-size: .8em;
        font-family: Helvetica, sans-serif;  
        box-shadow: 10px 10px 10px khaki; 
        justify-content: stretch;
    }
}