* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(IMG_7081.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: rgb(92, 19, 175);
    padding-top: 8px;
}
header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .85;
    background-color: greenyellow;
    border-radius: 45px;
    font-weight: 800;
    height: 67px;
}

.food-gallery {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    background-color: white;
    margin: 2px; 
}
.announcement {
    color: rgb(226, 49, 17);
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 10px;
}
a {
    text-decoration: none;  
}
button {
    background-color: transparent;
    border-radius: 20px;
    width: 250px;
    height: 30px;
}
p button {
    margin: 2px;
}
a span {
    font-size: .7rem;
    font-weight: 600;
}
.food-promo {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-start;
    width: 100%;
    height: auto;
    font-size: .80em;
    font-family: 'Kalam', cursive;
    border-radius: 15px;
    background-color: white;
}
.promo-teaser h2 {
    font-size: 1.4rem;
    color: rgb(12, 10, 10);
    
}
.thanks {
    padding-top: 10px;
    font-size: 1.4rem;
    color: rgb(34, 29, 29);
}
.food-promo div {
    box-sizing: border-box;
    padding: 15px 15px 10px 15px;
    margin: 5px;   
}
.promo-teaser {
    opacity: .85;
    border-radius: 15px;
    border: solid .5px rgb(36, 33, 32);   
    background:
    linear-gradient(225deg, rgb(117, 236, 157) 10%, hsla(140, 90%, 50%, 0) 80%),
    linear-gradient(315deg, rgb(238, 187, 115) 100%, hsla(35, 95%, 55%, 0) 70%);
}
.food-promo .promo-items {
    background-color: white;
    border-radius: 15px;
    border: solid .5px rgb(148, 42, 6);
    box-sizing: border-box;
    padding: 10px;
}
.food-promo div img {
    width: 100%;
    height: auto;
    border-radius: 7px;  
}
.regular {
    background-image: url(IMG_7060.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}
.regular h2 {
    display: block;
    box-sizing: border-box;
    font-weight: 600;
    min-height: 50px;
    align-content: space-around;
    padding: 10px 0;
    color: rgb(155, 76, 11);
    margin: 3px 30px;
    text-align: center;
    background-color: rgb(234, 255, 47);
    border-radius: 45px;
    font-family: 'Kalam', cursive;
    opacity: .55; 
}    
.basic-food {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    background:
    linear-gradient(45deg, rgb(224, 101, 240) 0%, hsla(340, 100%, 55%, 0) 70%),
    linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
} 
.basic-food .basic-food-item {
    box-sizing: border-box;
    border: solid 1px black;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 8px;
    background-color: transparent;
    border-radius: 15px;
    font-size: .8em;
    font-family: Helvetica, sans-serif;  
    box-shadow: 10px 10px 10px khaki; 
}
.basic-food div img {
    width: 100%;
    height: auto;
}
.basic-food div p {
    line-height: 25px;
    background-color: transparent;
}
h3 {
    line-height: 1.8em;
    background-color: transparent;
}
img {
    border-radius: 5px;
    align-items: center;
}
.S-Item1 {
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #f3f0ea;
}
.S-Item1 span {
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #da9b1d;
}
.price {
    font-weight: 400;
    color: rgb(44, 37, 42);
    padding-top: 6px;
    padding-bottom: 4px;
    background-color: #f1f1fa;
}
#not-available-image {
    border: 5px;
}
.about {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    border-radius: 7px;
    border: solid 1px turquoise;
    width: 100%;
    height: auto;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
    padding: 20px;
}
.about p {
    padding: 0 0 15px 0;
    font-weight: 600;
}
.about input {
    width: 250px;
    height: 25px;
    border-radius: 10px;
    border: solid .5px turquoise;
}
#submit {
    color: teal;
    text-transform: capitalize;
}
#feedback {
    height: 120px;
}
label {
    margin: 10px 0 5px 0;
}
footer {
    height: 45px;
    display: flex;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    line-height: 3rem;
    flex-wrap: wrap;
    justify-self: center;
    padding: 0 20px 20px 20px;
}

@media only screen and (max-width: 640px) {
    .food-promo {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        align-content: flex-start;
        width: 100%;
        height: auto;
        font-size: .80em;
        font-family: 'Kalam', cursive;
        border-radius: 15px;
        background-color: white;
        margin: 2px; 
        padding: 3px;
    }
    .regular {
        background-image: url(IMG_7060.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 300px;
    }
    .regular h2 {
        display: block;
        box-sizing: border-box;
        font-weight: 600;
        min-height: 50px;
        align-content: space-around;
        padding: 10px 0;
        color: rgb(196, 97, 17);
        margin: 3px 30px;
        text-align: center;
        background-color: rgb(234, 255, 47);
        border-radius: 45px;
        font-family: 'Kalam', cursive;
        opacity: .55; 
    }
    .basic-food {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: auto;
    } 
    .basic-food .basic-food-item {
        box-sizing: border-box;
        border: solid 2px tomato;
        border-radius: 15px;
        font-size: .8em;
        font-family: Helvetica, sans-serif;  
        box-shadow: 10px 10px 10px khaki;
    }
    .about {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        background-color: transparent;
        width: 100%;
        height: auto;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        margin: 10px;
    }
    .about p {
        font-weight: 700;
        padding: 10px 0;
    }  
}

@media only screen and (max-width: 1240px) {
    .basic-food {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: auto;  
        padding: 5px;
    } 
    .basic-food .basic-food-item {
        border: solid 1px black;
        padding-top: 5px;
        padding-bottom: 12px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 8px;
        background-color: transparent;
        border-radius: 15px;
        font-size: .8em;
        font-family: Helvetica, sans-serif;  
        box-shadow: 10px 10px 10px khaki; 
        justify-content: stretch;
    }
    .regular {
        background-image: url(IMG_7060.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 350px;
    }
    .regular h2 {
        display: block;
        font-weight: 600;
        min-height: 50px;
        align-content: space-around;
        padding: 10px 0;
        color: rgb(196, 97, 17);
        margin: 3px 30px;
        text-align: center;
        background-color: rgb(234, 255, 47);
        border-radius: 45px;
        font-family: 'Kalam', cursive;
        opacity: .55; 
    }    
}